{% extends "index.html" %}{% block title %}DAS{% endblock %} {% block content %}
<!-- <link href="{{url_for('static',filename='css/heatmap.css')}}" rel="stylesheet" /> -->
<link href="{{url_for('static',filename='css/matrix_graph.css')}}" rel="stylesheet" />
<div class="w-full h-screen flex flex-col justify-center items-center">
    <div class="w-fit cursor-auto h-full flex flex-col justify-center items-center gap-2 d3-data-visual" id="d3-data-visual"></div>
</div>
<div class="flex mx-10 w-auto top-36 flex-col justify-center items-center text-business-color1" id="chart01" style="padding-top: 100px !important">
    <p class="select mb-2">
        Өгөгдөл харагдац сонгох
        <select class="border-2 border-business-color1 rounded-md" id="selectTemplate">
            <option value="none">Simple Network Graph</option>
            <option value="treemap">Clusters on a Treemap</option>
            <option value="force">Clusters using Forces</option>
        </select>
    </p>
</div>
<div class="flex mx-10 w-auto top-36 flex-col justify-center items-center text-business-color1 text-center mb-2" id="chart02">
    <p class="select">
        Өгөгдөл эрэмбэлэх
        <select class="border-2 border-business-color1 rounded-md" id="order">
            <option value="name">Character Name</option>
            <option value="count">Number of Connections</option>
            <option value="group">Group</option>
        </select>
    </p>
</div>
<script type="module" src="{{url_for('static',filename='js/heatmap.js')}}"></script>
<script type="module" src="{{url_for('static',filename='js/matrix_graph.js')}}"></script>
{% endblock %}
