{% extends "index.html" %}{% block title %}DAS{% endblock %} {% block content %}
<section class="text-gray-600 body-font w-100 flex justify-center items-center">
    <!-- Jumbotron -->
    <div class="w-full md:w-3/5 lg:w-1/2 text-center bg-white py-20 px-6 h-screen flex flex-col justify-center items-center">
        <h1 class="text-2xl md:text-3xl text-business-color1 font-bold mt-0 mb-6">Баримт бичиг шинжилгээний систем туршилтын хувилбар</h1>
        <h3 class="text-base md:text-xl text-business-color1 text-opacity-80 font-bold mb-8">Таны гэрээ, тайлан гэх мэт баримт бичиг дээр хууль зүйн шинжилгээ хийж өгөх зориулалттай систем</h3>
        <a
            class="inline-block px-6 py-2.5 bg-business-color1 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-opacity-80 hover:shadow-lg focus:bg-opacity-50 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
            href="/upload-doc"
            role="button"
            >Эхлэх</a
        >
    </div>
</section>
{% endblock %}
