{% extends "index.html" %}{% block title %}DAS{% endblock %} {% block content %}
<section class="text-gray-600 body-font">
    <div class="mx-auto w-full h-screen bg-white py-4 px-6 flex flex-row justify-center items-center lg:items-start">
        <div class="w-full h-3/4 mt-0 lg:mt-24 flex flex-col justify-between items-center lg:items-start gap-4">
            <div class="w-full lg:w-2/3 h-fit items-start">
                <h2 class="text-3xl font-bold tracking-tight text-business-color1 sm:text-4xl">Систем хэрхэн ажилладаг вэ?</h2>
                <p class="mt-2 text-lg leading-8 text-business-color1">Систем нь хэрэглэгчийн оруулсан баримт бичиг дээр хэрхэн хуулийн нэр томьёо хайж, яаж харуулах дарааллын диаграмыг дараах зурагт харуулав.</p>
            </div>
            <div class="w-full h-full border-2 border-business-color1 rounded-lg bg-how-its-work bg-contain bg-center bg-no-repeat"></div>
        </div>
    </div>
</section>
{% endblock %}
