<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet" />
        <link href="{{url_for('static',filename='images/das-logo.png')}}" rel="icon" />
        <title>Хуудас олдсонгүй</title>
    </head>
    <body>
        <main class="grid min-h-full h-screen place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
            <div class="text-center">
                <p class="text-base font-semibold text-business-color1">404</p>
                <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Хуудас олдсонгүй...</h1>
                <p class="mt-6 text-base leading-7 text-gray-600">Уучлаарай, бид таны хайж буй хуудсыг олж чадсангүй.</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    {% if data.user.is_authenticated %}
                    <a
                        href="/main"
                        class="rounded-md bg-business-color1 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-opacity-30 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        >Нүүр хуудас руу буцах</a
                    >
                    {% else %}
                    <a
                        href="/"
                        class="rounded-md bg-business-color1 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-opacity-30 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        >Нүүр хуудас руу буцах</a
                    >
                    {% endif %}
                    <a href="tel:+97699206304" class="text-sm font-semibold text-gray-900">Холбоо барих <span aria-hidden="true">&rarr;</span></a>
                </div>
            </div>
        </main>
    </body>
</html>
