{% extends "upload_doc.html" %}{% block progress_bar %}
<div class="fixed left-0 top-0 w-full h-screen z-50 flex flex-row justify-center items-center">
    <div class="w-full h-20">
        <div class="w-1/2 md:w-1/4 flex justify-between mb-1">
            <span class="text-base font-medium text-blue-700 dark:text-white">Flowbite</span>
            <span class="text-sm font-medium text-blue-700 dark:text-white">45%</span>
        </div>
        <div class="w-1/2 md:w-1/4 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
        </div>
    </div>
</div>
{% endblock %}
