@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    font-family: "Inter", sans-serif !important;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(13, 57, 156, 0.3);
    border-radius: 10px;
    border: 1px solid rgb(13, 57, 156, 0.3);
}
